.h1_title{
	margin: 10px 20px;
	font-family:"Comic Sans MS", sans-serif;;
	color:#333333;
	background-image:url(img/head011_03.png);
	background-position:bottom;background-repeat:repeat-x;	
}

table {
	width: calc(100% - 80px);
	margin: 10px 40px;
}
table th {
	background-color:rgb(255, 235, 235);
	text-align: center;
	width: 40%;

}
.linklist{
	margin: 15px 35px;
	font-size:24px;font-weight:bold;color:#333333;
}
.linklist a{
	font-weight:bold;color:#333333;
}

ul{
	margin: 0px 15px;
}
ul#songlist li a{
	font-family:"Comic Sans MS", sans-serif;
	font-size:14px;font-weight:bold;color:#333333;
	text-decoration: none;
	background-position:bottom;background-repeat:repeat-x;	
}
/* 奇数行のスタイル */
ul#songlist li:nth-child(odd){
background-color:#FFFDF4;
width: -webkit-fill-available;
}

/* 偶数行のスタイル */
ul#songlist li:nth-child(even){
background-color:#FFFACD;
width: -webkit-fill-available;
}

#songlist a {
	color: #363636;
}
a:visited {
	text-decoration: underline;
	color: #36a7c7;
	color: #7337C6;
}

#songlist a {
	display: block;
	padding: 12px 20px;
}
	
