.h1_title{
	margin: 10px 20px;
	font-family:"Comic Sans MS";
	padding:10px 0px 0px 0px;
	color:#333333;
	background-image:url(img/head011_03.png);
	background-position:bottom;background-repeat:repeat-x;	
}

table {
	width: calc(100% - 80px);
	margin: 10px 40px;
}
table th {
	background-color:rgb(255, 235, 235);
	text-align: center;
	width: 40%;

}
/* クレヨン風 */
.artist_under {
	font-family:"Comic Sans MS";
	height:30px;margin:0px 0px 5px 10px;padding:10px 0px 0px 0px;
	font-size:24px;font-weight:bold;color:#333333;
	background-image:url(img/head011_01.png);
	background-position:bottom;background-repeat:repeat-x;	
	
}

.song_under {
	font-family:"Comic Sans MS";
	height:30px;margin:0px 0px 15px 50px;padding:5px 0px 0px 0px;
	font-size:24px;font-weight:bold;color:#333333;
	background-image:url(img/head011_02.png);
	background-position:bottom;background-repeat:repeat-x;
}

table td.song_artist{
}
table .tb_td{
	margin: 5px 0px 5px 0px;
}